.left {
  width: 284px;
  background: var(--sidebar-colour);
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: left;
  z-index: 20;
  position: fixed;
  height: 100vh;
}

.right {
  flex: 1;
  margin-left: 284px;
}

.bgtest {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 0;
  opacity: 100;
}

.avatar {
  height: 170px;
  width: 170px;
  border-radius: 50%;
}

.avatar:hover {
  cursor: pointer;
}

.divider {
  border-radius: 100px;
  height: 2px;
  border: none;
  border-radius: 6px;
  background-color: #bbd3ff43;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.selected {
  background-color: #25334d;
}

.welcomebox {
  justify-content: center;
  align-items: center;
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  text-align: center;

}

.container {
  min-height: 100vh;
  display: flex;
  background-color: var(--main-background-colour);
}

.navbutton {
  display:flex;
  align-items: center;
  column-gap: 12px;
  font-size: 16px;
  text-align: left;
  color: var(--blue-text-colour);
  padding: 15px;
  transition: 0.2s;
  margin-left: 15px;
}

.navbuttonLogout {
  display:flex;
  align-items: center;
  column-gap: 12px;
  font-size: 16px;
  text-align: left;
  color: #ff4343;
  padding: 15px;
  transition: 0.2s;
  margin-left: 15px;
}

.navbuttonLogout:hover {
  transition: 0.2s;
  background-color: #6a2d2db3;
  cursor: pointer;
}

.navbutton:hover {
  transition: 0.2s;
  background-color: #2d426a;
  cursor: pointer;
}