:root {
  --backgroundColor: var(--blue-text-colour);
  --backgroundColorGlow: var(--blue-text-glow);
  }
  
  .outlineButton {
    padding:8px;
    color:var(--blue-text-colour);
    transition:0.4s;
    text-align: center;
    width: auto;
    user-select: none;
  }
  
  .outlineButton:hover {
    padding:8px;
    cursor: pointer;
    transition:0.2s;
    text-shadow: 0 0px 15px var(--backgroundColor);
  }
  