.titleSubtext {
  margin-top: 15px;
  font-size: 14px;
  color: #ffffff84;
  font-weight: 0;
}

.inventoryContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inventoryBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sidebar-colour);
  border-radius: 25px;
  box-shadow: 0px 0px 20px -2px#000000ad;
  padding: 40px;
  width: 100%;
}

.inventoryRow {
  display: flex;
}

.inventoryColumn {
  display: flex;
  flex-direction: column;
}

.inventoryItemCard {
  height: 120px;
  width: 150px;
  margin: 8px;
  background-color: #ffd81635;
  border-radius: 20px;
  border: 2px solid #ffd816;
  padding: 8px;
  transition: 0.4s;
}

.inventoryItemCard:hover {
  transition: 0.2s;
  background-color: #ffd8165f;
  cursor: pointer;
}

.inventoryItemCardImage {
  width: 99px;
  height: 76px;
  transition: 0.4s;
}

.inventoryItemCardImage:hover {
  -webkit-filter: drop-shadow(5px 5px 3px #222);
  transform: rotatez(3deg) scale(1.02);
  transition: 0.2s;
  cursor: pointer;
}

.inventoryItemCardContent {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.inventoryItemCardTop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventoryItemCardBottom {
  display: flex;
  font-size: 16px;
}


.buttonContainerMain {
  display: flex;
  flex-direction: row;
}

.buttonContainerLeft {
  display: flex;
  column-gap: 20px;
  width: 100%;
  align-items: center;
}

.buttonContainerRight {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  column-gap: 20px;
}

.gradientButtonAdd {
  padding: 8px;
  color: #17C964;
  border-radius: 15px;
  border: 2px solid #17C964;
  transition: 0.4s;
}

.gradientButtonAdd:hover {
  padding: 8px;
  color: #ffffff;
  background-color: #17C964;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0px 15px #04ff0040;
}

.mainContainer {
  display: flex;
  margin: 40px;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}

.priceText {
  font-weight: bold;

}

.priceTag {
  font-weight: bold;
  color: #15e815;
  text-shadow: 0px 0px 20px #05ff09;
}


.searchBar {
  background-color: var(--sidebar-colour);
  border: 2px solid var(--sidebar-colour);
  border-radius: 20px;
  padding: 10px;
  color: var(--blue-text-colour);
  transition: 0.4s;

}

.searchBar:focus {
  outline: 2px solid var(--blue-text-colour);
}

.searchBar:hover {
  border: 2px solid var(--blue-text-colour);
  transition: 0.2s;
  box-shadow: 0 0px 15px rgba(var(var(--blue-text-colour)),0.64);
}