.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #141828;

}

.headerContainer {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}


.inputBox {
  background-color: var(--sidebar-colour);
  border: 2px solid var(--sidebar-colour);
  border-radius: 20px;
  padding: 10px;
  color: var(--blue-text-colour);
  transition: 0.4s;
  min-width: 400px;

}

.inputContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.inputBox:focus {
  outline: 2px solid var(--blue-text-colour);
}


.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.434);
  background: #212844;
  border-radius: 30px;
  min-height: 350px;
  min-width: 550px;
  width: auto;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: row;
  border: none;
  outline: none;
  margin-bottom: 15px;
  column-gap: 15px;
}

.textButton {
  color:#515a6c;
  transition: 0.4s;
}

.textButton:hover {
  transition: 0.2s;
  color:var(--blue-text-colour);
  text-shadow: 0px 0px 15px var(--blue-text-colour);
  cursor:pointer;
  text-decoration: underline;
}