.titleSubtext {
  margin-top: 15px;
  font-size: 14px;
  color: #ffffff84;
  font-weight: 0;
}

.mainContainer {
  display: flex;
  margin: 40px;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}


.buttonContainerMain {
  display: flex;
  flex-direction: row;
}

.priceTag {
  font-weight: bold;
  color: #15e815;
  text-shadow: 0px 0px 20px #05ff09;
}

.buttonContainerLeft {
  display: flex;
  column-gap: 20px;
  align-items: center;
  width:100%;
}

.buttonContainerRight {
  display: flex;
  justify-content: flex-end;
  width:100%;
  column-gap: 20px;
}

.gradientButtonAdd {
  padding:8px;
  color: #17C964;
  border-radius: 15px;
  border: 2px solid #17C964;
  transition:0.4s;
  user-select: none;

}

.gradientButtonAdd:hover {
  padding:8px;
  color:#ffffff;
  background-color: #17C964;
  border-radius: 10px;
  cursor: pointer;
  transition:0.2s;
  box-shadow: 0 0px 15px #04ff0040;
}


.editButton {
  padding:8px;
  color:var(--blue-text-colour);
  border-radius: 15px;
  border: 2px solid var(--blue-text-colour);
  transition:0.4s;
  text-align: center;
  width: auto;
  max-width: 75px;
  user-select: none;
}

.editButton:hover {
  padding:8px;
  color:#000000;
  background-color: var(--blue-text-colour);
  border-radius: 10px;
  cursor: pointer;
  transition:0.2s;
  box-shadow: 0 0px 15px rgba(var(var(--blue-text-colour)),0.64);
  user-select: none;
}

.flexy{
  display:flex;
  align-items: center;
}

.itemIcon{
  max-width: 75px;
  max-height: 75px;
}

.tableContainer {
  display: flex;
  justify-content: center;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.300);
}

.item {
  display: flex;
  background-color: var(--sidebar-colour);
  border-radius: 25px;
  box-shadow: 0px 0px 20px -2px#000000ad;
  padding: 40px;
}

.mainTable {
  min-width: 100%;
  width: 100%;
  text-align: center;

}

.priceGain {
  color: #15e815;
  text-shadow: 0px 0px 20px #05ff09;
}

.priceLossAnimation {
  color: #e81515;
  text-shadow: 0px 0px 15px #ff0505;
  animation: float 1s forwards linear;
  position:absolute;
  margin:0px;
  user-select: none;
  pointer-events: none;
}

.priceLoss {
  color: #e81515;
  text-shadow: 0px 0px 15px #ff0505;
}

.money {
  color: #15e815;
  text-shadow: 0px 0px 20px #05ff09;
  animation: float 1s forwards linear;
  position:absolute;
  margin:0px;
  user-select: none;
  pointer-events: none;
}

@keyframes float {
  0% {
      opacity: 1;
  }
  100% {
      top: 0px;
      opacity: 0;
  }
}





/* csgo stuff */


.animationOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 999; /* Ensure the overlay appears on top of other content */
  pointer-events: none; /* Allow interactions with elements beneath the overlay */
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
}

.fadeOut {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.csgoAnimation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* Example background color */
  color: #000; /* Example text color */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Example box shadow */
  z-index: 1000; /* Ensure the animation appears on top of the overlay */
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}