.portfolioTitle {
  font-size: 40px;
  font-weight: bold;
}

.titleSubtext {
  margin-top:15px;
  font-size: 14px;
  color:#ffffff84;
  font-weight: 0;
}

.metricsContainer {
  padding: 30px;
  background-color: #141f33;
  border-radius: 25px;
  box-shadow: 0px 0px 20px -2px#000000ad;
  margin: 40px;
}

.metricTitle {
  font-size: 16px;
  color: #bbd3ff;
}

.metricTitleValue {
  font-size: 16px;
  color: #15e815;
  text-shadow: 0px 0px 20px #05ff09;
}

.metricTitleValueNegative {
  font-size: 16px;
  color: #e81515;
  text-shadow: 0px 0px 15px #ff0505;
}

.metricTitleContainer {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
}

.metricContent {
  margin-top: 50px;
  font-size: 50px;
}

.metricMainBox {
  display: flex;
  column-gap: 80px;
}

.metricContentSubtext {
  color: #bbd3ff4a;
  font-size: 10px;
  text-shadow: none;
  margin: none;
}

.metricBlock {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 25px;
  background-color: #243451;
  border-radius: 30px;
  transition: 0.4s;
}

.metricBlock:hover {
  background-color: #30476e;
  box-shadow: 0px 0px 20px -2px#00000041;
  transition: 0.2s;
}

.metricValue {
  font-size: 45px;
}

.dollar {
  font-weight: bold;
  font-size: 25px;
  color: #bbd3ff;
  vertical-align: text-top;
  margin-right:5px;
}

.statisticsMainContainer {
  display:flex;
  flex-direction: column;
}

.graphContainer {
  display: flex;
}

.graphBox {
  width: 100%;
  padding: 10px;
  background-color: #141f33;
  border-radius: 25px;
  box-shadow: 0px 0px 20px -2px#000000ad;
  margin: 40px;
  min-height: 300px;
}

.avatar {
  width:580px;
  height:330px;
}