.container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--main-background-colour);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subContainer {
  padding: 30px;
  background-color: var(--sidebar-colour);
  border-radius: 25px;
  box-shadow: 0px 0px 20px -2px#000000ad;
  margin: 40px;
  min-height: 900px;
  min-width: 1200px;
  display: flex;
  justify-content: center;

}

.metricFlex {
  display: flex;
  column-gap: 30px;
}


.subContainerSep {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subContainerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.avatarWrapper {
  position: relative;
}

.avatar {
  height: 170px;
  width: 170px;
  margin-bottom: 10px;
  border-radius: 50%;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar:hover {
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.3s;
}


.metricTitle {
  font-size: 16px;
  color: var(--blue-text-colour);
}

.metricTitleNetWorth {
  font-size: 16px;
  color: #15e815;
  text-shadow: 0px 0px 15px #15e815;
}


.metricTitleValue {
  font-size: 16px;
  color: var(--blue-text-colour);
  /* box-shadow: 0px 0px 20px #05ff09;
  border-radius: 50%; */
}

.metricTitleValueNegative {
  font-size: 16px;
  color: #e81515;
  text-shadow: 0px 0px 15px #ff0505;
}

.metricTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 100px;
}

.metricContent {
  margin-top: 50px;
  font-size: 50px;
}

.metricMainBox {
  display: flex;
  column-gap: 80px;
}

.metricContentSubtext {
  color: var(--blue-text-glow);
  font-size: 10px;
  text-shadow: none;
  margin: none;
}

.metricBlock {
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 25px;
  background-color: var(--metric-colour);
  border-radius: 30px;
  transition: 0.4s;
}

.metricBlock:hover {
  background-color: var(--metric-colour-highlight);
  box-shadow: 0px 0px 20px -2px#00000041;
  transition: 0.2s;
}

.metricValueNetWorth {
  font-size: 45px;
  color: #15e815;
  text-shadow: 0px 0px 15px #15e815;
}


.metricValue {
  font-size: 45px;
}

.dollar {
  font-weight: bold;
  font-size: 25px;
  color: var(--blue-text-colour);
  vertical-align: text-top;
  margin-right: 5px;
}


.dollarNetWorth {
  font-weight: bold;
  font-size: 25px;
  color: #15e815;
  text-shadow: 0px 0px 15px #15e815;
  vertical-align: text-top;
  margin-right: 5px;
}

.bioTitle {
  font-size: 28px;
  font-weight: bold;
  color: var(--blue-text-colour);

}

.bioBlock {
  color: white;
  align-items: center;
  min-width: 1290px;
  max-width: 1290px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 25px;
  background-color: var(--metric-colour);
  border-radius: 30px;
  transition: 0.4s;
  margin-top: 25px;
}

.badgeBlock {
  color: white;
  align-items: center;
  min-width: 1290px;
  max-width: 1290px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 25px;
  background-color: var(--metric-colour);
  border-radius: 30px;
  transition: 0.4s;
  margin-top: 25px;
}

.badgeContainer {
  flex: 1;
  display: flex;
  min-width: 100%;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.badgeRow {
  flex: 1;
  flex-grow: 1;
  min-width: 100%;
  column-gap: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-text-colour);
  font-size: 64px;
  width: 175px;
  height: 175px;
  background-color: var(--metric-colour-highlight);
  border-radius: 50%;
  transition: 0.4s;
}

.badge:hover {
  color:var(--metric-colour-highlight);
  background-color: var(--blue-text-colour);
  border-radius: 47%;
  transition: 0.2s;
  cursor: pointer;
}


.bioBody {
  font-size: 20px;
}

.bioBlock:hover {
  background-color: var(--metric-colour-highlight);
  box-shadow: 0px 0px 20px -2px#00000041;
  transition: 0.2s;
}