.overlay {
  background: rgba(49, 53, 65, 0.5);
  backdrop-filter: blur(8px);
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}

.money {
  font-weight: bold;
  color: #15e815;
  text-shadow: 0px 0px 10px #05ff09b0;
}

.modalContent {
  padding: 30px;
  background-color: var(--sidebar-colour);
  border-radius: 25px;
  box-shadow: 0px 0px 20px -2px#000000ad;
  top: 50%;
  left: 50%;
  min-width: 500px;
  max-width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;
}

.searchBar {
  background-color: #192f57;
  border: 2px solid var(--sidebar-colour);
  border-radius: 10px;
  padding: 10px;
  color: var(--blue-text-colour);
  transition: 0.4s;
  min-width: 300px;
  margin-bottom: 30px;
}

.searchBar:focus {
  outline: 2px solid var(--blue-text-colour);
}

.searchBar:hover {
  border: 2px solid var(--blue-text-colour);
  transition: 0.2s;
  box-shadow: 0 0px 15px var(--blue-text-glow);
}

.modalTitle {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}