.overlay {
  background: rgba(49, 53, 65, 0.5);
  backdrop-filter: blur(8px);
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}

.money {
  font-weight: bold;
  color: #15e815;
  text-shadow: 0px 0px 10px #05ff09b0;
}


.modalContent {
  padding: 30px;
  background-color: var(--sidebar-colour);
  border-radius: 25px;
  box-shadow: 0px 0px 20px -2px#000000ad;
  margin: 40px;
  top: 50%;
  left: 50%;
  min-width: 550px;
  max-width: 100%;
  display: flex;
  justify-self: left;
  align-items: left;
  flex-direction: column;
  row-gap: 12px;
}

.modalTitle {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  display:flex;
  align-items: center;
  justify-content: center;
}



.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}







  