:root {
--backgroundColor: rgb(187, 211, 255);
--backgroundColorGlow: rgba(var(--backgroundColor),0.64);
--minWidth: auto;
}

.outlineButton {
  padding:8px;
  color:var(--blue-text-colour);
  border-radius: 15px;
  border: 2px solid var(--blue-text-colour);
  transition:0.4s;
  text-align: center;
  width: var(--minWidth);
  user-select: none;
}

.outlineButton:hover {
  padding:8px;
  color:#2d2d2d !important;
  background-color: var(--backgroundColor);
  border-radius: 10px;
  cursor: pointer;
  transition:0.2s;
  box-shadow: 0 0px 15px var(--backgroundColorGlow);
}
