:root {
--backgroundColor: #bbd3ff;
--backgroundColorGlow: #bbd3ff40;
}

.outlineButton {
  padding:8px;
  color:#bbd3ff;
  border-radius: 15px;
  border: 2px solid #bbd3ff;
  transition:0.4s;
  text-align: center;
  width: auto;
  user-select: none;
}

.outlineButton:hover {
  padding:8px;
  color:#2d2d2d !important;
  background-color: var(--backgroundColor);
  border-radius: 10px;
  cursor: pointer;
  transition:0.2s;
  box-shadow: 0 0px 15px var(--backgroundColorGlow);
}
