[data-color='Blue'] {
    --sidebar-colour: #141f33;
    --alternate-colour: #1c2b46;
    --metric-colour: #243451;
    --metric-colour-highlight: #30476e;
    --blue-text-colour: #bbd3ff;
    --main-background-colour: #1e283b;
}