:root {
  --backgroundColor: #bbd3ff;
  --backgroundColorGlow: #bbd3ff40;
}

.upgradeButton {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 8px;
  color: #bbd3ff;
  border-radius: 23px;
  border: 2px solid #bbd3ff;
  transition: 0.4s;
  text-align: center;
  width: auto;
  user-select: none;
  min-width: 80px;
  min-height: 80px;
  max-height: 80px;
  max-width: 100px;
}

.upgradeButton:hover {
  padding: 8px;
  color: #2d2d2d !important;
  background-color: var(--backgroundColor);
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0px 15px var(--backgroundColorGlow);
}

.priceLossAnimation {
  color: #ff1c1c;
  text-shadow: 0px 0px 20px #ff0505;
  animation: float 1.5s forwards linear;
  position: absolute;
  margin: 0px;
  user-select: none;
  pointer-events: none;
}

@keyframes float {
  0% {
    opacity: 1;
  }

  100% {
    top: 50%;
    opacity: 0;
  }
}