.titleSubtext {
    margin-top: 15px;
    font-size: 14px;
    color: #ffffff84;
    font-weight: 0;
  }
  
  .mainContainer {
    display: flex;
    margin: 40px;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
  }
  
  
  .buttonContainerMain {
    display: flex;
    flex-direction: row;
  }
  
  .buttonContainerLeft {
    display: flex;
    column-gap: 20px;
    width:100%;
  }
  
  .buttonContainerRight {
    display: flex;
    justify-content: flex-end;
    width:100%;
    column-gap: 20px;
  }
  
  .gradientButtonAdd {
    padding:8px;
    color: #17C964;
    border-radius: 15px;
    border: 2px solid #17C964;
    transition:0.4s;
  
  }
  
  .gradientButtonAdd:hover {
    padding:8px;
    color:#ffffff;
    background-color: #17C964;
    border-radius: 10px;
    cursor: pointer;
    transition:0.2s;
    box-shadow: 0 0px 15px #04ff0040;
  }
  
  
  .editButton {
    padding:8px;
    color:#bbd3ff;
    border-radius: 15px;
    border: 2px solid #bbd3ff;
    transition:0.4s;
    text-align: center;
    width: auto;
    max-width: 75px;
  }
  
  .editButton:hover {
    padding:8px;
    color:#000000;
    background-color: #bbd3ff;
    border-radius: 10px;
    cursor: pointer;
    transition:0.2s;
    box-shadow: 0 0px 15px #bbd3ff40;
  }
  
  .flexy{
    display:flex;
    align-items: center;
  }
  
  .itemIcon{
    max-width: 75px;
    max-height: 75px;
  }
  
  .tableContainer {
    display: flex;
    justify-content: center;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.300);
  }
  
  .item {
    display: flex;
    background-color: #141f33;
    border-radius: 25px;
    box-shadow: 0px 0px 20px -2px#000000ad;
    padding: 40px;
  }
  
  .mainTable {
    min-width: 100%;
    width: 100%;
    text-align: center;
  
  }
  
  .priceGain {
    color: #15e815;
    text-shadow: 0px 0px 20px #05ff09;
  }
  
  .priceLoss {
    color: #e81515;
    text-shadow: 0px 0px 15px #ff0505;
  }